// for all global scss
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit; // inherits from html below
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 1rem=10px (10px/16px = 62.5)
}

body {
    background-color: #000;
    --pink: #d470d9;
    --green: #3dc185;
    --box-shadow-pink: 0 0 0.8rem var(--pink);
    --text-shadow-pink: 0 0 0.8rem var(--pink);
    --text-shadow-green: 0 0 0.3rem var(--green);
    --margin-l-r: 0 2rem 0 2rem;
}

.play {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
}
.container {
    max-width: 100vw;
    height: 100vh;
    margin: auto;
    // border: 2px solid yellow;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .header {
        font-family: 'Sacramento', cursive;
        color: var(--pink);
        font-size: 9rem;
        width: 100%;
        height: 10rem;
        text-shadow: var(--text-shadow-pink);
        text-align: center;
        padding-right: 1.1rem;
    }

    .image-container {
        height: 35rem;
        border: 2px solid var(--pink);
        box-shadow: var(--box-shadow-pink);
        border-radius: 2.5rem 2.5rem 0 0;
        margin: var(--margin-l-r);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .menu-icon {
            width: 5rem;
            position: absolute;
            top: 3px;
            right: 1rem;
        }

        .flamingo-image {
            box-shadow: 0 0 6rem #181039;

            object-fit: contain;
            // height: 85%;
            width: 85%;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-content: center;
        }

        .menu {
        }
    }

    .timer {
        /* font-family: 'Orbitron', sans-serif; */
        font-family: 'VT323', monospace;
        color: var(--green);
        /* text-shadow: var(--text-shadow-green); adjust this or not use? */
        height: 7rem;
        font-size: 28vw; //14vw, phone 8.5vw ipad, 5.2vh laptop, 4.7vw big
        // border: 2px solid red;
        /* margin: var(--margin-l-r); fix variable  */
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 1rem 0 1rem 0;

        /* .numbox {
            width: 10rem;
            padding: 0 3px 0 3px;
            display: flex;
            justify-content: center;
        } */
    }

    .controls {
        color: var(--green);
        font-size: 3rem;
        text-shadow: var(--text-shadow-green);
        font-family: 'VT323', monospace;
        // font-family: 'Orbitron', sans-serif;
        // border: 2px solid orange;
        height: 7rem;
        margin: var(--margin-l-r);
        display: flex;
        justify-content: space-between;
        align-items: center;

        img {
            height: 100%;
            width: 20%;
        }
    }

    .reset {
        // margin: 0 auto;
        display: flex;
        justify-content: center;
        height: 3rem;
    }
}
